@model IEnumerable<ConceptArchitect.BookManagement.Book>


<a asp-action="Add" class='btn-secondary btn btn-sm'>Add New</a>

<h2>Recommended Books</h2>

<div class="row">

    @foreach (var book in Model)
    {
        <div class='col col-md-3'>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@book.Cover_Photo" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@book.Title</h5>
                    <p class="card-text">book description</p>
                    <a asp-action="details" asp-route-id="@book.Id" class="btn  btn-primary">details</a>
                    <a asp-action="delete" asp-route-id="@book.Id" class="btn  btn-primary" onclick="return confirm('Are you sure you want to delete this item?')">delete</a>
                    <a asp-action="edit" asp-route-id="@book.Id" class="btn  btn-primary">edit</a>
                </div>
            </div>
        </div>
    }
</div>