@model IEnumerable<ConceptArchitect.BookManagement.Author>


<a asp-action="Add" class='btn-secondary btn btn-sm'>Add New</a>

<h2>Recommended Authors</h2>

<div class="row">
    
    @foreach (var author in Model)
    {
        <div class='col col-md-3'>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@author.Photo" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@author.Name</h5>
                    <p class="card-text">author biography</p>
                    <a asp-action="details" asp-route-id="@author.Id" class="btn  btn-primary">details</a>
                    <a asp-action="delete" asp-route-id="@author.Id" class="btn  btn-primary">delete</a>
                    <a asp-action="edit" asp-route-id="@author.Id" class="btn  btn-primary">edit</a>

                </div>
            </div>
        </div>
    }
</div>